<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragment/layout}">
    <head>

        <title>Hlog - 개인블로그 </title>


    </head>
    <th:block layout:fragment="js">
        <script th:src="@{/js/index.js}"></script>
    </th:block>
    <body>

        <!-- Page Header 개별 헤더 -->
        <header layout:fragment="custom-header" class="masthead" style="background-image: url('assets/img/home-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Hlog</h1>
                            <span class="subheading">개인 개발일지 작성 및 관리 블로그입니다.<br> 포트폴리오 관리도 합니다.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div layout:fragment="custom-content" class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7" id="post-preview-div">
                    <!-- Pager-->
<!--                    <div class="d-flex justify-content-end mb-4"><a class="btn btn-primary text-uppercase" href="#!">Older Posts-->
<!--                        →</a></div>-->
                </div>

            </div>
        </div>

    </body>
</html>
